/*反映しないCSS*/

ul li {
display:inline-block;
padding:0px 25px;
}

ul {
    list-style-type: none;
    text-align: center;
    margin:50px 0px 0px 0px;
}



/*追加CSS*/


.midashibox{
    display:flex;
}

li + div {
    display: block;
}

.midashibox-image{
    width:300px;
    height:auto;
}


.openbox{
    display:block;
}


.closebox{
    display:none;
}

.contents{
    display:none;
    width:1100px;
    margin:0 auto;
    padding:20px 0px 20px 0px;
    box-sizing: border-box;
}

.contentbox{
    background:rgba(0, 0, 0, 0.2)
}


.subtitle{
    padding: 0px 30px;
}

.connectbox{
    display: flex;
}

.midashibox-image{
    padding:20px;
    box-sizing: border-box;
}

.contentmidashi{
    text-align:center;
}
